!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title modalicious ui testing
    link(rel='stylesheet', href='stylesheets/style.css', media='screen')
  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='../socialServices.js')
    //- script(src='javascripts/script.js')